// || GENERAL
:root {
  --background-app: #232931;
  --background-panel: #393e46;
  --green: #4ecca3;
  --text: #eeeeee;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

html,
body {
margin: 0;
padding: 0;
font-size: 16px;
color: var(--text);
font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-app);
}

.panel {
  width: 450px;
  background: var(--background-panel);
  padding: 0.5rem;

    // Layout for larger screens
    @media only screen and (min-width: 768px) {
        height: auto;
      }
}

// || TITLE
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  
  h1 {
    margin: 0;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    width: 220px;
    border-bottom: 2px solid var(--green);
  }
}

// || BUTTONS
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  h4 {
    font-weight: 400;
    font-size: 1.3rem;
  }

  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .breaks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
  }
  .sessions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
  }
}

// || ARROW INCREMENT/DECREMENT
.arrow {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
  font-size: 1.5rem;
}

// || POMODORO TIMER
.pomodoroTimer {
  display: grid;
  grid-template: 100px 150px 50px / 1fr;

  .clock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--background-app);
    border: 2px solid var(--green);
    border-radius: 1rem;
    margin: 1rem 2.5rem;
    
    #timer-label {
      font-size: 1.5rem;
    }

    #time-left {
      font-size: 3rem;
    }
  }

  .controlButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;

    #start_stop {
      cursor: pointer;
    }

    #reset {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}